GR1	GACGGCG
GR1	ATCCATA
GR1	GCGATCT
GR1	CCAAGTC
GR1	GTCTAAT
GR1	CGGCTGG
GR1	AATTCAA
GR1	CGCCAAC
GR1	TAATGCG
GR1	ACGACTT
GR1	CATGCTC
GR1	AGGCGAG
GR1	GCTGAGA
GR1	AGCTTAT
GR1	CTATGGC
GR1	GATCTCG
GR1	CTGACTA
GR1	TGAAGCT
GR1	AACCTGC
GR1	GATTAGG
GR2	GACGGCG
GR2	ATCCATA
GR2	GCGATCT
GR2	CCAAGTC
GR2	GTCTAAT
GR2	CGGCTGG
GR2	AATTCAA
GR2	CGCCAAC
GR2	TAATGCG
GR2	ACGACTT
GR2	CATGCTC
GR2	AGGCGAG
GR2	GCTGAGA
GR2	AGCTTAT
GR2	CTATGGC
GR2	GATCTCG
GR2	CTGACTA
GR2	TGAAGCT
GR2	AACCTGC
GR2	GATTAGG
GR2	CCTTAAT
GR2	TAGGCCG
GR2	GTCCGGC
GR2	AGAATTA
GR2	ATCCTCT
GR2	GAATCTC
GR2	CCTAGGT
GR2	TGGAATA
GR2	CGCGCAG
GR2	ACGCGGA
GR2	GAGTAAC
GR2	TTAATAG
GR2	GATGCCA
GR2	CTTCGTT
GR2	TGCGTCC
GR2	GCATTGG
GR2	AGTCAGA
GR2	TAGTCTA
GR2	CTCAGAT
GR2	CCATACC
GR2	ATAGCTG
GR2	GACCGAT
GR2	CCTAACG
GR2	TGCATGA
GR2	AGGTACC
GR2	GCTGGTT
GR2	ATGCCGC
GR2	TAAGTAA
GR2	AGAACCG
GR2	CAGGAGG
GR2	GCTCGAA
GR2	TACTCGC
GR2	GTACTAT
GR2	TTGGATC
GR2	ACTTGCG
GR2	CGCTATT
GR2	ACTATCA
GR2	GACGTAC
GR2	CGGACGT
GR2	TGACGTC
GR2	ATTCCAG
GR2	TTGGTCA
GR2	GCATATT
GR2	CATAGAC
GR2	ACCGAGG
GR2	TGGTCGG
GR2	GAACTTA
GR2	CGCAGCC
GR2	CTGGCCT
GR2	TACTTAG
GR2	GCTAATC
GR2	ATACTGA
GR2	ATATGAT
GR2	GCCGCCT
GR2	CGGCGTA
GR2	TATGAGT
GR2	AATATAG
GR2	GTAAGCC
GR2	CCGGATA
GR2	TTCTAGG
GR2	AGTCCTC
GR2	CGCCTCA
GR2	TCATGGT
GR2	GTTACCG
GR2	TGGCAAT
GR2	AACGTTA
GR2	CCATGAG
GR2	AAGATTC
GR2	GTACCGG
GR2	CGTTCCT
GR2	TCCGAAC
GR2	GCGAGTA
GR2	TTCGCAA
GR2	TTGAAGT
GR2	GCAGTCC
GR2	TGAGAGA
GR3	GACGGCG
GR3	ATCCATA
GR3	GCGATCT
GR3	CCAAGTC
GR3	GTCTAAT
GR3	CGGCTGG
GR3	AATTCAA
GR3	CGCCAAC
GR3	TAATGCG
GR3	ACGACTT
GR3	CATGCTC
GR3	AGGCGAG
GR3	GCTGAGA
GR3	AGCTTAT
GR3	CTATGGC
GR3	GATCTCG
GR3	CTGACTA
GR3	TGAAGCT
GR3	AACCTGC
GR3	GATTAGG
GR3	CCTTAAT
GR3	TAGGCCG
GR3	GTCCGGC
GR3	AGAATTA
GR3	ATCCTCT
GR3	GAATCTC
GR3	CCTAGGT
GR3	TGGAATA
GR3	CGCGCAG
GR3	ACGCGGA
GR3	GAGTAAC
GR3	TTAATAG
GR3	GATGCCA
GR3	CTTCGTT
GR3	TGCGTCC
GR3	GCATTGG
GR3	AGTCAGA
GR3	TAGTCTA
GR3	CTCAGAT
GR3	CCATACC
GR3	ATAGCTG
GR3	GACCGAT
GR3	CCTAACG
GR3	TGCATGA
GR3	AGGTACC
GR3	GCTGGTT
GR3	ATGCCGC
GR3	TAAGTAA
GR4	AGAACCG
GR4	CAGGAGG
GR4	GCTCGAA
GR4	TACTCGC
GR4	GTACTAT
GR4	TTGGATC
GR4	ACTTGCG
GR4	CGCTATT
GR4	ACTATCA
GR4	GACGTAC
GR4	CGGACGT
GR4	TGACGTC
GR4	ATTCCAG
GR4	TTGGTCA
GR4	GCATATT
GR4	CATAGAC
GR4	ACCGAGG
GR4	TGGTCGG
GR4	GAACTTA
GR4	CGCAGCC
GR4	CTGGCCT
GR4	TACTTAG
GR4	GCTAATC
GR4	ATACTGA
GR4	ATATGAT
GR4	GCCGCCT
GR4	CGGCGTA
GR4	TATGAGT
GR4	AATATAG
GR4	GTAAGCC
GR4	CCGGATA
GR4	TTCTAGG
GR4	AGTCCTC
GR4	CGCCTCA
GR4	TCATGGT
GR4	GTTACCG
GR4	TGGCAAT
GR4	AACGTTA
GR4	CCATGAG
GR4	AAGATTC
GR4	GTACCGG
GR4	CGTTCCT
GR4	TCCGAAC
GR4	GCGAGTA
GR4	TTCGCAA
GR4	TTGAAGT
GR4	GCAGTCC
GR4	TGAGAGA
GR5	ACCGAGG
GR5	TGGTCGG
GR5	GAACTTA
GR5	CGCAGCC
GR5	CTGGCCT
GR5	TACTTAG
GR5	GCTAATC
GR5	ATACTGA
GR5	ATATGAT
GR5	GCCGCCT
GR5	CGGCGTA
GR5	TATGAGT
GR5	AATATAG
GR5	GTAAGCC
GR5	CCGGATA
GR5	TTCTAGG
GR5	AGTCCTC
GR5	CGCCTCA
GR5	TCATGGT
GR5	GTTACCG
GR5	TGGCAAT
GR5	AACGTTA
GR5	CCATGAG
GR5	AAGATTC
GR5	GTACCGG
GR5	CGTTCCT
GR5	TCCGAAC
GR5	GCGAGTA
GR5	TTCGCAA
GR5	TTGAAGT
GR5	GCAGTCC
GR5	TGAGAGA
GR6	GATGCCA
GR6	CTTCGTT
GR6	TGCGTCC
GR6	GCATTGG
GR6	AGTCAGA
GR6	TAGTCTA
GR6	CTCAGAT
GR6	CCATACC
GR6	ATAGCTG
GR6	GACCGAT
GR6	CCTAACG
GR6	TGCATGA
GR6	AGGTACC
GR6	GCTGGTT
GR6	ATGCCGC
GR6	TAAGTAA
GR6	AGAACCG
GR6	CAGGAGG
GR6	GCTCGAA
GR6	TACTCGC
GR6	GTACTAT
GR6	TTGGATC
GR6	ACTTGCG
GR6	CGCTATT
GR6	ACTATCA
GR6	GACGTAC
GR6	CGGACGT
GR6	TGACGTC
GR6	ATTCCAG
GR6	TTGGTCA
GR6	GCATATT
GR6	CATAGAC
GR7	GACGGCG
GR7	ATCCATA
GR7	GCGATCT
GR7	CCAAGTC
GR7	GTCTAAT
GR7	CGGCTGG
GR7	AATTCAA
GR7	CGCCAAC
GR7	TAATGCG
GR7	ACGACTT
GR7	CATGCTC
GR7	AGGCGAG
GR7	GCTGAGA
GR7	AGCTTAT
GR7	CTATGGC
GR7	GATCTCG
GR7	CTGACTA
GR7	TGAAGCT
GR7	AACCTGC
GR7	GATTAGG
GR7	CCTTAAT
GR7	TAGGCCG
GR7	GTCCGGC
GR7	AGAATTA
GR7	ATCCTCT
GR7	GAATCTC
GR7	CCTAGGT
GR7	TGGAATA
GR7	CGCGCAG
GR7	ACGCGGA
GR7	GAGTAAC
GR7	TTAATAG
GR8	CCATGAG
GR8	AAGATTC
GR8	GTACCGG
GR8	CGTTCCT
GR8	TCCGAAC
GR8	GCGAGTA
GR8	TTCGCAA
GR8	TTGAAGT
GR8	GCAGTCC
GR8	TGAGAGA
B1	TATGAAT
B1	AGTCTCG
B1	TTAACAC
B1	CTCGTGA
B1	GGACCTT
B1	TTCGCAG
B1	CGCGCAC
B1	TTAGGCA
B1	AATAGCT
B1	TGCCTAG
B1	AGATCAC
B1	TTCACAA
B1	GGCGGTT
B1	TCTCCTG
B1	GCTCGGC
B1	TGAGTAA
B1	GATTAAT
B1	GGCTGTG
B1	TTCTGAC
B1	TCTAACA
B1	GATTGCT
B1	TCGGTCG
B1	TAAGCAC
B1	TCCGACA
B1	CCTCGAT
B1	GTTGTAG
B1	CGTCGGC
B1	CCGGCAA
B1	CCGCTCT
B1	GCCTAGG
B1	GACGCTC
B1	GGTTGTA
B2	AGTTGTT
B2	GGAAGAG
B2	CTGTTAC
B2	AGAGTCA
B2	CGTTGGT
B2	GTAGCTG
B2	GCCACAC
B2	AGACTTA
B2	CCGGTGT
B2	AATTGTG
B2	AGTCCGC
B2	AGATGCA
B2	GGCCAGT
B2	TTGCAGG
B2	CCATTGC
B2	ACCAACA
B2	AGCCTAT
B2	CAAGTTG
B2	ATTGTTC
B2	GTAGGTA
B2	TATTAGT
B2	TGCTCCG
B2	CTATAAC
B2	TAGATTA
B2	GGTTGAT
B2	ATAGTCG
B2	CTTCGTC
B2	ACACTAA
B2	TCCGCCT
B2	ACCGTCG
B2	AGCCAAC
B2	CGTCGTA
B3	GGTGGCT
B3	GACCATG
B3	CTACGGC
B3	GCCGAGA
B3	GGACGGT
B3	TCAATCG
B3	TGAGTTC
B3	TCTCTAA
B3	TCATTAT
B3	CTTCCAG
B3	CAGGTGC
B3	GCGCGAA
B3	AATAAGT
B3	CTGGAGG
B3	TGAACTC
B3	TCTTGAA
B3	AGCTTGT
B3	GCGGTAG
B3	GCGACGC
B3	TCGGTAA
B3	TTAGAGT
B3	CCTGTTG
B3	CCTGTAC
B3	ATAGAGA
B3	CCGTCGT
B3	TAAGATG
B3	TCTAATC
B3	AACTCTA
B3	GCTATGT
B3	CCACCGG
B3	ATGATGC
B3	ACTTCTA
B4	CCAAGCT
B4	GTGTACG
B4	TCTCCAC
B4	AACCGCA
B4	TAATTGT
B4	TATGTAG
B4	ATACCTC
B4	CTTGCGA
B4	GATGCTT
B4	GACGTAG
B4	GTTCCTC
B4	TCATCAA
B4	AAGGTAT
B4	AATCAAG
B4	CTTGAAC
B4	TGTCTTA
B4	TTCGTGT
B4	GCGAAGG
B4	ACTGCTC
B4	GTTAATA
B4	GCTCGCT
B4	TACTTGG
B4	TGCCTTC
B4	GATCTAA
B4	ATGCAGT
B4	TACCGTG
B4	CGACATC
B4	CGGCAGA
B4	TCTTATT
B4	TCAGGAG
B4	TTCTCTC
B4	ATCAGCA
B5	CATATCT
B5	TAGGTTG
B5	CAGAGGC
B5	GCTGTTA
B5	AGACACT
B5	ACGCTCG
B5	GACACGC
B5	CATTGAA
B5	GTCACCT
B5	CGGTATG
B5	ACGTCAC
B5	ATACACA
B5	GACTCAT
B5	CATACAG
B5	CCGGAAC
B5	GACAGGA
B5	CTTGCTT
B5	AACGACG
B5	CGGCGTC
B5	TATATGA
B5	CAAGCTT
B5	AGACGTG
B5	CCGCCGC
B5	ATCTGTA
B5	TGCTCAT
B5	TGAGAGG
B5	ATGCTTC
B5	CTAATCA
B5	TCCAATT
B5	GCGCCAG
B5	ACAGGAC
B5	CCTGTGA
B6	TCGAGAT
B6	GGTAACG
B6	ATCTTAC
B6	CGCGCCA
B6	TTACCAT
B6	CTGAGCG
B6	CCTACGC
B6	CGGACGA
B6	GCAATAT
B6	CAACTGG
B6	TTGGAGC
B6	TTATGAA
B6	ATTAGGT
B6	TCTATAG
B6	TTGCCGC
B6	CAACCTA
B6	ATAACAT
B6	AATACGG
B6	CAGTCTC
B6	TCTCGGA
B6	TACCATT
B6	AGGATAG
B6	CCACCTC
B6	GGTCCTA
B6	AAGACCT
B6	AGCGAGG
B6	CCTAGTC
B6	TGGATAA
B6	GGAGACT
B6	CAGTTGG
B6	GGACCGC
B6	ATTCTCA
B7	CCAGAGT
B7	GTCATTG
B7	CACGTTC
B7	CTCATTA
B7	GTCCTAT
B7	CTTGGTG
B7	GAATGGC
B7	CTACTAA
B7	AACCTGT
B7	ACTCTGG
B7	TCATGAC
B7	CTACGTA
B7	TTGTTAT
B7	GAATAGG
B7	GATCCAC
B7	AGCTCGA
B7	CGGCCGT
B7	TTATCAG
B7	TGCTCGC
B7	GAGTCTA
B7	CTACCGT
B7	CTGATGG
B7	GGTCATC
B7	CGAGAGA
B7	ATACGCT
B7	CGCGGTG
B7	ATCGCGC
B7	TCTGCTA
B7	GGATCCT
B7	AGCTGAG
B7	AGTATGC
B7	TAGGTCA
B8	CGCTCGT
B8	CACATGG
B8	GGTGGTC
B8	TGCCGCA
B8	CATACTT
B8	ATCATCG
B8	GGTCGAC
B8	GTACGCA
B8	TGAGTGT
B8	TGTTACG
B8	CCAAGAC
B8	TTAAGTA
B8	AGCACGT
B8	GTCGCGG
B8	TATGTGC
B8	TCTCATA
B8	AGGAGTT
B8	TGAGCAG
B8	TAATATC
B8	CAGGATA
B8	CATGTGT
B8	GTATGCG
B8	TCGTCTC
B8	GGTAGGA
B8	AATCGAT
B8	CTGTGAG
B8	CATATTC
B8	AGAATGA
B8	TCGTTCT
B8	CAAGAAG
B8	TGACGGC
B8	AGGACAA
B9	AGTTAGT
B9	AGCAACG
B9	GGATAAC
B9	TCGTGTA
B9	CGTAAGT
B9	CAGACCG
B9	CTGAAGC
B9	GGATACA
B9	AGCGCCT
B9	ACGGCAG
B9	CAATTAC
B9	TACGGCA
B9	TGCGCTT
B9	CATCCGG
B9	TACGGAC
B9	GGCAAGA
B9	GGCAACT
B9	AATTCCG
B9	TCGCATC
B9	GCGAACA
B9	ACTCTAT
B9	ATACCAG
B9	GCTACTC
B9	AAGTATA
B9	TCTAAGT
B9	GTGCTGG
B9	TGGAATC
B9	CAGACTA
B9	AAGTCTT
B9	TGTACTG
B9	CAGCCAA
B9	GGCGTAA
B10	TCGCTGT
B10	ATCTACG
B10	CCATCAC
B10	AACGCAA
B10	GCTGACT
B10	GTGTCTG
B10	ACCAGAC
B10	ACACGCA
B10	TAGCACT
B10	GGTCGTG
B10	GCCGAAC
B10	AAGGCTA
B10	CGTGCGT
B10	ACTATCG
B10	ACACGGC
B10	TCGCCTA
B10	TATAGAT
B10	CGCATTG
B10	TTATAGC
B10	CCGTATA
B10	CAACGAT
B10	ACATTCG
B10	TATACAC
B10	CTCCGAA
B10	TGGTCCT
B10	CTACGAG
B10	TATCAAC
B10	CCGTGCA
B10	AGAAGAT
B10	TAGATAG
B10	TCAGGTA
B10	GTGCAAG
B11	CGCGAGT
B11	CGGTCGG
B11	GCCTATC
B11	AAGTTAA
B11	CTTATGT
B11	GCTACAG
B11	CCTCATC
B11	AAGGAGA
B11	CAGTGGT
B11	TCTCAGG
B11	ACTGAAC
B11	ACTAAGA
B11	GCTTCTT
B11	TGGATTG
B11	GTTAGAC
B11	CTAGGAA
B11	GGCGCGT
B11	CGAATCG
B11	CGTCAAC
B11	ATCCATA
B11	TTAAGAT
B11	TTCCGCG
B11	ACTCAGC
B11	ATGAAGA
B11	CTGTAGT
B11	ACAGCTG
B11	AGGCCAC
B11	CTCTGCA
B11	CGGATGT
B11	GGCATCG
B11	ATTACAA
B11	ATATCTG
B12	GGTCTGT
B12	GCACACG
B12	GTAGGAC
B12	AGCATTA
B12	CACGAAT
B12	CGACGCG
B12	GACCAGC
B12	GTACCGA
B12	CTCGATT
B12	CAGGCGG
B12	AATGGTC
B12	CGAGTTA
B12	TGGAGGT
B12	GAAGCCG
B12	TAGCCAC
B12	CTGCTTA
B12	CACTGAT
B12	GACACTG
B12	GCCGCGC
B12	ACCTGAA
B12	ACTGCAT
B12	CCTAGCG
B12	AAGACGC
B12	CGCCTGA
B12	ATGAACT
B12	CAGAAGG
B12	CACCTGC
B12	CCTGATA
B12	TCCAGGT
B12	GCAGGTG
B12	CCTGGAA
B12	GCCACGA
B13	GGTTCGT
B13	GGCTAAG
B13	ATCCAGC
B13	TGAGCCA
B13	CCAACTT
B13	AGTCATG
B13	GTGAGTC
B13	ATACGAA
B13	GGCTTCT
B13	GGTCAAG
B13	GCTCTAC
B13	TACTCCA
B13	TAAGTAT
B13	CAACGTG
B13	GTCAAGC
B13	CCATGAA
B13	TAACCTT
B13	GCGCTTG
B13	GCATCGC
B13	TTGACGA
B13	GTGTGGT
B13	CTCTCCG
B13	ACTTATC
B13	TGTGGCA
B13	GTACATT
B13	GTTCCGG
B13	GAAGAGC
B13	GCTATCA
B13	GTATGTT
B13	TCCTCAG
B13	GGCTGCA
B13	CTATTGT
B14	TTGCAAT
B14	TTCCTGG
B14	GTGGAAC
B14	CACGGTA
B14	GCCACTT
B14	TAACTAG
B14	AGCCGTC
B14	TATTGGA
B14	GCGTGTT
B14	ATGGTGG
B14	TTCGGTC
B14	ATCTCCA
B14	GCTAGAT
B14	TATTATG
B14	GGCTCAC
B14	TTCTATA
B14	CCGAGGT
B14	TATACCG
B14	AATAGGC
B14	TTACCTA
B14	CAGAGCT
B14	GAACAAG
B14	GGAACAC
B14	GTCGACA
B14	CTCTAAT
B14	GTCCGAG
B14	GCTGATC
B14	CGTGTCA
B14	AGCCGGT
B14	GCACTGG
B14	CCTAGGA
B14	TCATATA
B15	GCAGCAT
B15	TCATCCG
B15	TTATGTC
B15	CCACTGA
B15	TTCTCCT
B15	CGAAGTG
B15	TAGTAAC
B15	CCTCGCA
B15	GTGCACT
B15	CTAGCAG
B15	GTAAGGC
B15	TGCAACA
B15	TAATGCT
B15	TTGCTTG
B15	TGGACGC
B15	AAGCGAA
B15	TTCCAGT
B15	TGGCAAG
B15	AGGAGAC
B15	GTTGCTA
B15	CCAGTAT
B15	TGGCGTG
B15	GAGCGGC
B15	ACTGTAA
B15	CGCAGTT
B15	GATATAG
B15	CGGATTC
B15	CTTCTGA
B15	TACAGCT
B15	TTGGTAG
B15	ACTTGGA
B15	GAGCAAT
B16	TTCGGCT
B16	TCCTGTG
B16	GCAGCTC
B16	GAGGTTA
B16	CGGTCTT
B16	ATCGCCG
B16	CCGATGC
B16	GGAATCA
B16	ACGTGGT
B16	GTAAGTG
B16	ATTCATC
B16	CAGTGTA
B16	CGCGTCT
B16	ATTACCG
B16	TATGCTC
B16	CTGCGCA
B16	GACTTGT
B16	AGTGGTG
B16	CCGTGTC
B16	ATTCAGA
B16	TACTCGT
B16	AGAACGG
B16	CTGAGAC
B16	AGTACTA
B16	CACCGCT
B16	ACGACCG
B16	GATTGTC
B16	CGATCGA
B16	GGTCCAT
B16	TTGACCG
B16	AATCCGA
B16	TCTTCCT
B17	GTCTCTT
B17	AGCACTG
B17	GTCGTGC
B17	ATAACCA
B17	ATAGTAT
B17	GCGATCG
B17	GCACTTC
B17	CCAACAA
B17	ATCGAGT
B17	AACTTAG
B17	TGCTTAC
B17	GGTGACA
B17	TGCGTAT
B17	TGACTCG
B17	TTGTTGC
B17	AGTTCCA
B17	ACAGACT
B17	AACCTCG
B17	TCACGTC
B17	GATAGAA
B17	GCATAAT
B17	CATGCTG
B17	AGGACTC
B17	CAGATCA
B17	CCTAATT
B17	GCTGCGG
B17	ACAACTC
B17	GTTAGCA
B17	AAGCCGT
B17	GAATGTG
B17	TTCCTAA
B17	ACAGATA
B18	TCGACGT
B18	TCGCACG
B18	CGTGTGC
B18	TGCCAGA
B18	TGTCGTT
B18	AGATAAG
B18	GACCGAC
B18	GCTCACA
B18	ACGCAAT
B18	TACATCG
B18	AAGTAGC
B18	CTGTCCA
B18	CAGCGTT
B18	TGGTAGG
B18	AACGAAC
B18	ATGAGAA
B18	AATCTCT
B18	ATCACGG
B18	GAGAATC
B18	CTGGCTA
B18	ATGATAT
B18	CTTACGG
B18	CGAACGC
B18	GTCCTCA
B18	GGACTCT
B18	ACCACAG
B18	TCAGAAC
B18	GCCGTCA
B18	TGTGTCT
B18	TAGTACG
B18	GGCCGGA
B18	TTAGACG
B19	CTTGACT
B19	TCAACGG
B19	TTCAGGC
B19	ATTGTGA
B19	TAGGTGT
B19	CCGAGAG
B19	CCTCTGC
B19	ACACCTA
B19	TTAGTCT
B19	TGCGCGG
B19	TACGATC
B19	GGCACTA
B19	ACAGTGT
B19	TGTTGTG
B19	CTGTCGC
B19	GATGATA
B19	CCAATGT
B19	CGCACCG
B19	CGCAAGC
B19	GGTACAA
B19	ATGACTT
B19	CACGTCG
B19	AGACGAC
B19	GTAGTCA
B19	TTGACAT
B19	CAGAGTG
B19	GAGTGAC
B19	GCCATAA
B19	TCAGGCT
B19	TATGCGG
B19	TGTCCAA
B19	CTTGTCG
B20	TTGGCGT
B20	ATGCCGG
B20	CGGTGAC
B20	TCGGATA
B20	AACTAAT
B20	AGCGCAG
B20	AATGCAC
B20	AGGAATA
B20	AGAGGTT
B20	GCTAGTG
B20	CATTGGC
B20	CTCAAGA
B20	TCCGAGT
B20	TCGATGG
B20	TCGCGAC
B20	AGTGAGA
B20	CCATGGT
B20	TCGTGAG
B20	AGAGAAC
B20	GGTCTCA
B20	TGGCTAT
B20	ATTATTG
B20	AAGCTAC
B20	ATTGATA
B20	CACGCGT
B20	TAACCGG
B20	ACATTAC
B20	CCAGCTA
B20	GAACTAT
B20	GTGGCCG
B20	TTCCGTA
B20	ATGGCCT
B21	GACAGAT
B21	TTCTCGG
B21	CTAAGTC
B21	AACTAGA
B21	CGATTCT
B21	GCCGATG
B21	CCAGATC
B21	TCCTCGA
B21	ACACGAT
B21	AGCCGCG
B21	CTGCTGC
B21	ACGATCA
B21	CTTGGAT
B21	AAGAGAG
B21	CGATGGC
B21	TAACATA
B21	TCATCGT
B21	CGTGACG
B21	TGTGTAC
B21	CCGGAGA
B21	CTATGAT
B21	CACGATG
B21	ATAGGTC
B21	TTAGTTA
B21	TCTGGAT
B21	TTATATG
B21	TGACCAC
B21	ACCGCGA
B21	CGTACAT
B21	CAGGTAG
B21	AGGCTGA
B21	TAAGCCT
B22	GTCAGGT
B22	CAACCAG
B22	ATTCGGC
B22	GCCTTGA
B22	AGCTCTT
B22	GGCCTGG
B22	AACCGGC
B22	GCAAGCA
B22	ACTGATT
B22	AGCGTTG
B22	CGTTAGC
B22	TAGACAA
B22	ATCCAAT
B22	GAGTATG
B22	TCTTAAC
B22	CGAACTA
B22	TAGGATT
B22	CTCGGCG
B22	AACTGTC
B22	GCCGGAA
B22	TGGCATT
B22	TGTATCG
B22	TTGGTTC
B22	CAGTAGA
B22	TATAACT
B22	TCGTCGG
B22	AGTTAAC
B22	TCGTACA
B22	GATCGGT
B22	TAGCCTG
B22	AGGCGTA
B22	CGGACAG
B23	ACGATGT
B23	ACTCGCG
B23	ACGGTAC
B23	TGACCGA
B23	TGAGATT
B23	AAGCAGG
B23	ATCATTC
B23	TGGACTA
B23	AGATATT
B23	CGTAATG
B23	AGCAGGC
B23	GTTCGAA
B23	ATTGCGT
B23	AACGCTG
B23	CATCGAC
B23	AGGTAGA
B23	CGTTACT
B23	GTACAGG
B23	CTAGAGC
B23	CCTCTTA
B23	GTTGCCT
B23	TCGCTAG
B23	TATAAGC
B23	ATCGTTA
B23	AACCACT
B23	TCCTTCG
B23	ACCTAAC
B23	GCTCTGA
B23	CGGCGAT
B23	AGCATGG
B23	TGCAGTA
B23	TGGAGAG
B24	CAACATT
B24	CCAGGCG
B24	TGTAGAC
B24	CTCGCAA
B24	GAGTCCT
B24	ATCGAAG
B24	TGGTGTC
B24	GAACTTA
B24	CAGTCAT
B24	GCGTTGG
B24	TCGATAC
B24	AGCGACA
B24	GTCTAGT
B24	TTATTGG
B24	TCTGAGC
B24	CCTTGTA
B24	GTGTTCT
B24	CGATGAG
B24	ATTACTC
B24	ATTGGCA
B24	GATGTAT
B24	ACATATG
B24	ATAGCAC
B24	TAGCAGA
B24	GCTCATT
B24	GTAACGG
B24	CGAGGAC
B24	ATCCGGA
B24	TCGAACT
B24	ATTCTAG
B24	CTTGTTA
B24	ATAGATT
B25	TGCTGTT
B25	CATGGCG
B25	CGCGATC
B25	AGCCGAA
B25	CAGTTCT
B25	ACCTCTG
B25	CTTACAC
B25	TAGTCGA
B25	GCCAGCT
B25	TCTCGAG
B25	CAAGGTC
B25	TTCTTGA
B25	CCGTGAT
B25	CCGCTGG
B25	CTGGATC
B25	ATTCCTA
B25	CAGACGT
B25	CAGCACG
B25	TCCACTC
B25	GACGCCA
B25	TACACAT
B25	ATATTAG
B25	CAACCGC
B25	TCCGCAA
B25	GAGTAGT
B25	AACTCGG
B25	CTCTGTC
B25	GCATCTA
B25	AACACTT
B25	CCGTAAG
B25	GGATGGA
B25	CGTATTA
B26	CGTCGCT
B26	TCTGTGG
B26	TCGAGGC
B26	GTTATGA
B26	GTGCGTT
B26	TACCAGG
B26	GATTCGC
B26	ACGGCCA
B26	TTCACTT
B26	CTATACG
B26	TCACCGC
B26	TTGTCTA
B26	AGAATCT
B26	TAAGGCG
B26	TTCGAAC
B26	GCCAGTA
B26	CGTGATT
B26	AGGCGAG
B26	TCAGTGC
B26	TAGAACA
B26	AGATGGT
B26	GCCGCAG
B26	CCGCTTC
B26	TTACTCA
B26	TGTGAGT
B26	TGTCCGG
B26	GTTGCGC
B26	GCATTCA
B26	TTGCTCT
B26	CCATTAG
B26	GATCGCA
B26	ATTCACG
B27	CAGGCCT
B27	TCACAAG
B27	ATTGAGC
B27	GCTCCAA
B27	GTGTCAT
B27	TTGTGTG
B27	TAGGTAC
B27	AGATTAA
B27	CATCAGT
B27	CGAGCGG
B27	ATGTAAC
B27	GACATCA
B27	AGGTACT
B27	TACTGAG
B27	CTCACGC
B27	GCAGTAA
B27	CGAAGGT
B27	CTCCGTG
B27	TCAATTC
B27	TAATACA
B27	TGACGCT
B27	CCTTCTG
B27	TAACGAC
B27	TGGTGAA
B27	CTGTGTT
B27	TGTGAAG
B27	CACTCAC
B27	CCGCTAA
B27	AAGTGAT
B27	CCGTTCG
B27	AGCTATA
B27	GCTTCGA
B28	GGATAGT
B28	TCAGTTG
B28	GAAGTAC
B28	GATGTGA
B28	TTGTACT
B28	AAGTAAG
B28	GAACGTC
B28	TACTTAA
B28	AAGTTGT
B28	TTGTTCG
B28	CAACTTC
B28	GGAGGCA
B28	ACGTTAT
B28	CCGACGG
B28	GGTAAGC
B28	CGGCTCA
B28	CGCTTAT
B28	GTTCGCG
B28	GGCGAGC
B28	TGAACAA
B28	CAGATAT
B28	CAATCGG
B28	TACGCGC
B28	GTCTCAA
B28	CGAACCT
B28	CTGCTCG
B28	ATAACGC
B28	TCTACAA
B28	AAGGACT
B28	TTAATAG
B28	TACGTTA
B28	GATCCTG
B29	TGTAATT
B29	CGTCTGG
B29	TTGGCAC
B29	AACATAA
B29	ACGTCCT
B29	GTTAAGG
B29	ACTCGAC
B29	GATACTA
B29	GTTGAGT
B29	GATCAGG
B29	CACATAC
B29	CAAGTGA
B29	GGCATAT
B29	GGAGTCG
B29	TATCCGC
B29	CAATCAA
B29	CTTACCT
B29	CGGTGCG
B29	CATGCGC
B29	TATGCAA
B29	TTACGGT
B29	GGAATTG
B29	GCGAGAC
B29	CCTACCA
B29	TCAGCTT
B29	GTTCTTG
B29	ATGTGTC
B29	TACAGAA
B29	AGCGGAT
B29	GCGTCCG
B29	ACCGGCA
B29	ACGTATT
B30	GGCCGAT
B30	TACACGG
B30	ATGGCTC
B30	TGATAGA
B30	TATGGCT
B30	GGCGACG
B30	ATAGTGC
B30	CAGCTGA
B30	AGAACTT
B30	GGTACGG
B30	ATGCGAC
B30	TTGTAGA
B30	TATCTGT
B30	GTTATCG
B30	ACAGAGC
B30	AATGACA
B30	TTGCCTT
B30	CGTGTAG
B30	ACACATC
B30	AGCGCTA
B30	GGTACTT
B30	ACGGTTG
B30	CACCATC
B30	CCACATA
B30	ATCCTCT
B30	GTACTAG
B30	GAACTGC
B30	CGCTTCA
B30	CTAGAAT
B30	AGATCCG
B30	AATACCA
B30	AGACGGA
B31	TTAACCT
B31	GAGTCGG
B31	TTGACTC
B31	AGCACCA
B31	CATGGTT
B31	CTATGTG
B31	CTCCTTC
B31	ATCGGAA
B31	ACGGCGT
B31	ATGCATG
B31	ACAGTTC
B31	TACAATA
B31	CGACGTT
B31	AGTACAG
B31	CTCGGAC
B31	TCGCTCA
B31	TTATCTT
B31	GCCTTAG
B31	ACTGTGC
B31	GAGCGTA
B31	TAACAGT
B31	TTAGGTG
B31	CTAGCTC
B31	AATTGCA
B31	GTCGCAT
B31	GGATCGG
B31	GATCTTC
B31	GACACAA
B31	CGGTAAT
B31	CCGCATG
B31	AGTATCA
B31	AGTAGAA
B32	TGGATCT
B32	TGTGTTG
B32	TCCGTAC
B32	ACATACA
B32	TGAAGTT
B32	CCAACCG
B32	TCACTAC
B32	AACCTTA
B32	CAGAATT
B32	TCCAACG
B32	GCCAGGC
B32	AAGAGGA
B32	GTCCGCT
B32	CTCGCTG
B32	CGCTAAC
B32	GAATCGA
B32	CTGCCAT
B32	TGACGAG
B32	CGCCTAC
B32	CACACGA
B32	ATCATGT
B32	ATCAGAG
B32	TACATGC
B32	CGCAATA
B32	TTCTGGT
B32	TATATTG
B32	AATCCTC
B32	TTGCCAA
B32	GAACACT
B32	CCTGCAG
B32	TCTTAGA
B32	TGACCTG
B33	CGACAAT
B33	TCTGCCG
B33	CTAATAC
B33	GAAGACA
B33	CGCCACT
B33	ACTAATG
B33	CATTATC
B33	GTGTGAA
B33	GCGTACT
B33	TGTTCAG
B33	GGCAATC
B33	CGCTGAA
B33	TTCCGAT
B33	GGAACCG
B33	ATTATAC
B33	GCGCATA
B33	CATCTAT
B33	AGACTAG
B33	GACATTC
B33	AGGAGCA
B33	TCATGTT
B33	TCTGGTG
B33	CACAGTC
B33	GGACGTA
B33	TCGCGCT
B33	AAGGATG
B33	TACTGGC
B33	AGTGTTA
B33	AGAGAGT
B33	ACCATTG
B33	TCACAGA
B33	TCATACT
B34	ACAACCT
B34	GCTCTCG
B34	GAGTTGC
B34	CTCCACA
B34	TCACATT
B34	AGGTTGG
B34	GGATGTC
B34	GTAATTA
B34	TGCCTCT
B34	GTTGATG
B34	TGATTGC
B34	GCTTATA
B34	TGATAAT
B34	CTGGTTG
B34	GCACCAC
B34	ACTAGCA
B34	TCCTCTT
B34	AGAGACG
B34	TTACAAC
B34	GAGCACA
B34	ATTATCT
B34	GCTTAAG
B34	GATATGC
B34	TCCTGCA
B34	TCTCTCT
B34	CAGCTTG
B34	TTGCGTC
B34	ACGGTGA
B34	ATCTCGT
B34	CTAGTGG
B34	CCAGACA
B34	CACTCCT
B35	CGAGGCT
B35	GATAGCG
B35	GTTATTC
B35	GTGGATA
B35	GACTATT
B35	TCAAGTG
B35	GTCTCGC
B35	GCACGGA
B35	ACTTGAT
B35	GTTACTG
B35	CTTAATC
B35	CCAATTA
B35	ATTAATT
B35	ACCTTGG
B35	GGTTCTC
B35	ACATCGA
B35	GGAACGT
B35	CGTAGAG
B35	GTAACTC
B35	TAGCGCA
B35	GTTCAAT
B35	AAGCCAG
B35	CGACTGC
B35	CATAAGA
B35	GAATGAT
B35	TCCAGAG
B35	GAGGCAC
B35	CTAGATA
B35	GCAGATT
B35	ACAATGG
B35	GCGTGGA
B35	GAGGAGG
B36	GCTCCGT
B36	AGGCTTG
B36	TTAGTAC
B36	TGTGATA
B36	GACAAGT
B36	ATTGCAG
B36	AGAAGTC
B36	CGCTAGA
B36	TGAGGAT
B36	AACAATG
B36	ACGCTGC
B36	TATCGTA
B36	AGTGAAT
B36	AAGGCCG
B36	TGTATTC
B36	CTCACCA
B36	CTGCATT
B36	ATGTCAG
B36	GCGGTTC
B36	CGGTCAA
B36	TATACGT
B36	TAGCTGG
B36	CGTTGTC
B36	GAGTGCA
B36	GCATTGT
B36	GTCCACG
B36	AGTGATC
B36	TCACTTA
B36	CGGAACT
B36	TGAATGG
B36	TTGCTGA
B36	TCGAAGA
B37	ATAAGTT
B37	ATAGCGG
B37	TGCCGAC
B37	TTAGCGA
B37	CCTCACT
B37	TGTCGCG
B37	GCGGAGC
B37	AGTCTAA
B37	GGTCACT
B37	TTCGTCG
B37	TTCATAC
B37	GTGACCA
B37	CGATCAT
B37	AGAGTGG
B37	AGTTGGC
B37	TAACTGA
B37	ACAAGGT
B37	GTGTTAG
B37	AATAATC
B37	CATGCCA
B37	ACATCAT
B37	CAATATG
B37	TCTTGGC
B37	ATATCAA
B37	CCATCCT
B37	TAATAAG
B37	GCGCAAC
B37	ATCACTA
B37	TGTTGCT
B37	CGGCCTG
B37	CCGCGTA
B37	GTGCCGT
B38	TCCTAAT
B38	ACAGAAG
B38	CTGCCTC
B38	TCAAGGA
B38	ATTCCAT
B38	ACTTCGG
B38	AGAGCTC
B38	TAGCTAA
B38	CCGACCT
B38	CACCTAG
B38	CAGACAC
B38	CGCAGCA
B38	CTAGCCT
B38	CTAACTG
B38	TAGCTTC
B38	GAAGCAA
B38	TCTCAAT
B38	TATCACG
B38	AGCGTGC
B38	CAATGCA
B38	TGCATGT
B38	CTCTATG
B38	TGGTCAC
B38	AACGTGA
B38	TAGACTT
B38	CACTGTG
B38	CGATCTC
B38	CATCATA
B38	AGACCGT
B38	CCTCGTG
B38	TCGTTGA
B38	AGTGTGT
B39	GACGACT
B39	TCGAGCG
B39	CCAGCGC
B39	ACGCTTA
B39	GAATTCT
B39	AAGCGCG
B39	ATATGAC
B39	TAAGGAA
B39	AGTTCAT
B39	CAATTCG
B39	TGTCAGC
B39	AATTCAA
B39	GGAGTAT
B39	CTCACAG
B39	CGTTCAC
B39	CTTATAA
B39	TTGAGTT
B39	TCGTATG
B39	ACCGGTC
B39	CATCTCA
B39	GGTTATT
B39	AGGCACG
B39	CCGACTC
B39	CTCTCTA
B39	CCGGCTT
B39	TTCCATG
B39	GTTCTGC
B39	TGATTCA
B39	ATATCCT
B39	GGTTGCG
B39	GGCCATA
B39	TACCACA
B40	TACTTCT
B40	CGTTCCG
B40	GCTGCAC
B40	GGACAGA
B40	GCGCAGT
B40	TTGAATG
B40	TTCAATC
B40	TTAATGA
B40	GCAAGTT
B40	GGTGCTG
B40	CTACCAC
B40	ACAAGAA
B40	TCCATCT
B40	CCACTTG
B40	GGAATGC
B40	AAGTCCA
B40	GAAGGCT
B40	TTCGAGG
B40	GGCAGAC
B40	CTGTGGA
B40	GAAGAAT
B40	CGGCTAG
B40	ATACTAC
B40	TGGCGGA
B40	CAGGAGT
B40	GCCACCG
B40	CTTAGGC
B40	GAGGCGA
B40	TGCGACT
B40	AGCTTCG
B40	CGGTTGA
B40	TCGTAGT
B41	GTTAACT
B41	GTCTTCG
B41	GGCTGGC
B41	GCCGCTA
B41	TGTACCT
B41	AAGATGG
B41	TCTATGC
B41	GTGGTGA
B41	ACCGCTT
B41	ATAGGAG
B41	ATGACAC
B41	AATAGTA
B41	TGTTCTT
B41	GGTGAGG
B41	CCGTAGC
B41	TCAGTCA
B41	ATGGAAT
B41	CGCCTCG
B41	GAATCTC
B41	GCGATGA
B41	TACGGTT
B41	TGGAACG
B41	GAGCCTC
B41	TCCATGA
B41	TAATCAT
B41	ACGTAGG
B41	AGGTTAC
B41	TCACGAA
B41	CTCAGAT
B41	TGCGGAG
B41	CGTGCAA
B41	TTCAGTG
B42	AGGCGCT
B42	CATTAAG
B42	CGTCTTC
B42	CGGTACA
B42	GCGACAT
B42	GAGCTAG
B42	AGCACAC
B42	ACCAGGA
B42	CAATAGT
B42	CCTTACG
B42	ACATGTC
B42	TAATGTA
B42	GGAAGCT
B42	TGGTTAG
B42	GCGTTAC
B42	CCTCCGA
B42	ATCTGAT
B42	TTCTAAG
B42	CACGAGC
B42	CACAACA
B42	TTCAACT
B42	ACGTGCG
B42	GTGTATC
B42	GTGCCTA
B42	CTCATCT
B42	CGCCAAG
B42	CGTACTC
B42	CGACGAA
B42	ATTCTGT
B42	ATACTTG
B42	ACGCCGA
B42	TGTAAGG
B43	TTGAAGT
B43	GTCAGCG
B43	ACGCGTC
B43	AGCCTCA
B43	TGTGCAT
B43	TCGACTG
B43	GTCCAAC
B43	CTTAGTA
B43	ACCTGTT
B43	GATAATG
B43	GGTATAC
B43	CATCGGA
B43	GTCAATT
B43	CCTCAAG
B43	GACTAAC
B43	TACGAGA
B43	AAGCATT
B43	AAGACTG
B43	TAATCGC
B43	CGCATAA
B43	GATAGTT
B43	GCACCTG
B43	GTATTAC
B43	AATGGAA
B43	GGCGAAT
B43	TCCGCTG
B43	CCACAGC
B43	CTATAGA
B43	GCATGCT
B43	CACAGAG
B43	TGGTATA
B43	GCCTACA
B44	ACCATAT
B44	ACAAGCG
B44	TGAATAC
B44	TCTATTA
B44	TGCCAAT
B44	CGCTTGG
B44	ACTACAC
B44	CGTTGCA
B44	ACCGAAT
B44	GAATCAG
B44	AGATAGC
B44	CTAAGGA
B44	ACTGGCT
B44	TCACGCG
B44	ACGAATC
B44	TTGGCCA
B44	GTCGTCT
B44	TAGGCAG
B44	AGTGGAC
B44	TACCGGA
B44	ACACAGT
B44	CCGATTG
B44	TCTGTTC
B44	TGCGTGA
B44	CACAGGT
B44	GTAGAAG
B44	ACCTGGC
B44	GTCTGGA
B44	GCCTGAT
B44	GAACTCG
B44	GAACGAA
B44	ATGGTAA
B45	CATGCAT
B45	TGAAGCG
B45	GGCGTTC
B45	TATAGCA
B45	TAGCGGT
B45	CTCAACG
B45	AATCTGC
B45	TGATCTA
B45	CCATATT
B45	GGATATG
B45	AGGCATC
B45	CTGAATA
B45	TCGCCAT
B45	TCGGAAG
B45	TTACTTC
B45	GATTACA
B45	GTTACAT
B45	CCGGACG
B45	CAGCAAC
B45	GTGGCAA
B45	ATATAGT
B45	CATAACG
B45	TGTCCTC
B45	TATTCTA
B45	GTGAGCT
B45	ACTCCAG
B45	TAGAGTC
B45	ACTCGTA
B45	CGCTATT
B45	GCATGAG
B45	GCGTCAA
B45	ATGATTA
B46	CGAATAT
B46	CACGCAG
B46	TGGCTGC
B46	TCAATAA
B46	ACGAGCT
B46	CCTATGG
B46	GGACTAC
B46	CTGCCGA
B46	CTTCTCT
B46	CATGAGG
B46	AAGGTTC
B46	TCAACCA
B46	ACTCGGT
B46	TATTGCG
B46	TCGGCGC
B46	GCAGCCA
B46	CCTATAT
B46	AGGAAGG
B46	GTAGATC
B46	CACGTAA
B46	GCTACCT
B46	GATGGAG
B46	AACTTGC
B46	GCATAGA
B46	TAGTGTT
B46	GCCGGCG
B46	AATTGAC
B46	GTGAGGA
B46	ACGCCTT
B46	TAATCTG
B46	CCTTCAA
B46	CCGCGCG
B47	AACGTCT
B47	GAAGTGG
B47	ACCAAGC
B47	GGTTAGA
B47	CCTTGCT
B47	CGCTCTG
B47	GTCCGTC
B47	GAGAAGA
B47	CTAGGTT
B47	AACGGAG
B47	CTCTAGC
B47	AGGTTCA
B47	CCACCAT
B47	CGACAGG
B47	GTGCTAC
B47	CCGGTTA
B47	AGCTGCT
B47	CTTCATG
B47	GGTGAAC
B47	ATGGACA
B47	GTACTGT
B47	AATGTTG
B47	TGTGCGC
B47	ATATTGA
B47	GCTGGTT
B47	CTCCAGG
B47	TCCTTGC
B47	CGGAGAA
B47	GACCGTT
B47	ACTGAGG
B47	GAGATAA
B47	GAGATGT
B48	AGCCATT
B48	CGAGATG
B48	ATCTATC
B48	CCGCACA
B48	TCTGCGT
B48	TTGGCTG
B48	TGCTATC
B48	CTGGTCA
B48	AGTAACT
B48	ACTAGAG
B48	CTTCTAC
B48	TTGCACA
B48	GCTTAGT
B48	AACACCG
B48	CCTTGAC
B48	GAATTAA
B48	AATGCCT
B48	AGGTCTG
B48	ACCGCAC
B48	GTATATA
B48	AGTATAT
B48	TACGAAG
B48	CTTCAGC
B48	GTGCAGA
B48	AGGTCGT
B48	GGATTAG
B48	ACTCTTC
B48	CGTTATA
B48	TGCAGAT
B48	CTCTTAG
B48	GACCTGA
B48	CATTCGT
